/* style for panel with logo */

/* style for lg/md */

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.row div:first-child .panel {
    padding: 10px;
    border-top: 3px double #761c19;
    border-bottom: 3px double #761c19;
}

.row div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div:last-child .panel {
    padding: 10px;
    border-top: 3px double #761c19;
    border-bottom: 3px double #761c19;
}
.row .panel ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.row .panel ul li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
    color: #761c19;
    font-size: 1.2em;
    font-family: 'Neucha', cursive;
}

.row .panel ul a:last-child li {
    margin-right: 0px;
}

row .panel ul li:hover {
    color: #449d44;
}

/* style for sm/xs */

.mini {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.mini div {
    margin-top: 5px;
}

.mini div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini div:nth-child(2) {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini div:last-child {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini div:nth-child(2) .panel {
    border: none;
}

.mini div:nth-child(3) .panel {
    border: none;
}

.mini .panel ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.mini .panel ul li {
    font-size: 1.7em;
    text-decoration: none;
    text-transform: none;
}

/* button of navigation */

.container-fluid .panel.noborder {
    border: none;
    box-shadow: none;
}

.container-fluid .panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    box-shadow: none;
}

.container-fluid .panel-body button {
   margin-right: 5px;
}
 /* carousel */

/* style for carousel lg/md */

.carousel {
    margin: 20px;
    border-top: 2px solid #b2dba1;
    padding: 10px;
}

.slide {
    display: flex;
    justify-content: center;
    margin: 35px;
    box-shadow: 0 0 10px rgba(0,100,0,0.5);
}

.carousel .panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.carousel .panel h4 {
    font-family: 'Neucha', cursive;
}

.carousel .panel h2 {
    font-family: 'Neucha', cursive;
    font-weight: bold;
    color: #66512c;
    font-size: 50px;
}

/* style for carousel-mini xs/sm */

.carousel-mini {
    display: flex;
    flex-flow: column wrap;
}
.carousel-mini panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.carousel-mini .panel h2 {
    font-family: 'Neucha', cursive;
    font-weight: bold;
    color: #66512c;
    font-size: 1.5em;
}
 @media screen and (width: 1440px) {
     .slide {
         margin-right: 50px;
         margin-left: 50px;
         box-shadow: none;
     }
 }
/* goods */

.goods-panel {
    padding: 20px;
}

.goods {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.goods div {
    width: 25%;
    height: 25%;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.goods-items img {
    border: 5px solid #8c8c8c;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0,0,0,0.8);
}

.goods-items h3 {
    width: 200px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: 100;
    top: -50px;
    background: #000;
    opacity: .6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.horizontal-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal-menu a {
    margin-right: 10px;
    font-size: 15px;
    color: #3c3c3c;
}

.horizontal-menu a:hover {
    color: #2A4887;
    text-decoration: none;
}

.info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.contacts p {
    margin: 3px;
}

.socio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.socio span {
    margin: 5px;
    height: 50px;
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.row-md-12 div:nth-child(2) span {
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Neucha', cursive;
*/