/* style for panel with logo */
.navbar {
    height: 100px;
}

.navbar.noborder {
    border: none;
    box-shadow: none;
}

.row-md-12 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.row-md-12 div:nth-child(2) span {
    font-size: 20px;
}

.row-md-12 div:nth-child(3) span:last-child {
    font-size: 10px;
}

/* button of navigation */

.container-fluid .panel.noborder {
    border: none;
    box-shadow: none;
}

.container-fluid .panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    box-shadow: none;
}

.container-fluid .panel-body button {
   margin-right: 5px;
}
 /* carousel */

.carousel-description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 600px;
    max-height: 400px;
}

.description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.description h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    color: #1d4088;
}

.description h4, h2 {
    font-family: 'Neucha', cursive;
    font-size: 50px;
}

.description h4 {
    font-size: 25px;
}

/* goods */

.goods-panel {
    padding: 20px;
}

.goods {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.goods div {
    width: 25%;
    height: 25%;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.goods-items img {
    border: 5px solid #8c8c8c;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0,0,0,0.8);
}

.goods-items h3 {
    width: 200px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: 100;
    top: -50px;
    background: #000;
    opacity: .6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.horizontal-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal-menu a {
    margin-right: 10px;
}
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Neucha', cursive;
*/